.app {
  text-align: center;
  padding: 0 24px;
}

.logo {
  animation: logo-spin infinite 20s linear;
  height: 240px;
  width: 240px;
  pointer-events: none;
}

.header {
  padding-top: 20%;
  background-color: #282c34;
  font-size: 40px;
  color: white;
  margin-bottom: 30px;
}

.btn:not(:first-child) {
  margin-top: 30px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
